//
// Include the necessary resources
//
#include <winver.h>
#include <ntdef.h>

#ifdef RC_INVOKED

#define COMPANY     L"TapzCrew"
#define COPYRIGHTS  L"2026 \251 TapzCrew"

#define DESCRIPTION L"LesserJoy Bluetooth driver"
// #define DESCRIPTION L"Nintendo\256 Switch 2\256 Peripherals Bluetooth Profile and Bus Driver"
#define FILENAME    L"lesser-joy-bluetooth-driver.sys"
#define VERSION     L"1.0.0.0"
#define VERSION_    1,0,0,0

#if DBG
#define DBG_FLAGS VS_FF_DEBUG
#else
#define DBG_FLAGS 0
#endif

// ------- version info -------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
FILEVERSION             VERSION_
PRODUCTVERSION          VERSION_
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               DBG_FLAGS
FILEOS                  VOS_NT
FILETYPE                VFT_DRV
FILESUBTYPE             VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
        VALUE "OriginalFilename", FILENAME
        VALUE "Comments",         DESCRIPTION
        VALUE "CompanyName",      COMPANY
        VALUE "FileDescription",  DESCRIPTION
        VALUE "FileVersion",      VERSION
        VALUE "InternalName",     DESCRIPTION
        VALUE "LegalCopyright",   COPYRIGHTS
        VALUE "ProductName",      DESCRIPTION
        VALUE "ProductVersion",   VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409,1200
    END
END
#endif
